.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  
    .grid-item {
      background-color: $primary-color;
      padding: 20px;
      border-radius: 10px;
    }
  }
  