@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin responsive($property, $small, $medium, $large) {
    #{$property}: $small;
  
    @media (min-width: 768px) {
      #{$property}: $medium;
    }
  
    @media (min-width: 1200px) {
      #{$property}: $large;
    }
  }
  